@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

img {
    height: auto;
    max-width: 100%;
}

:root {
    --color-header: #f08a96;
    --color-white: #fff4f4;
    --color-whiteStrong: #fbd1d1;
    --color-dark: #02202b;
    --color-redStrong: #ef4659;
    --shadow: #00000074;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, #feeeee 0%, #fef1f1 25%, #fff4f4 50%, #fef1f1 75%, #feeeee 100%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;
    background: radial-gradient(circle, #ed707f 0%, #ef6878 25%, #ee5e6f 50%, #ef5264 75%, #ef4659 100%);
    box-shadow: 4px 3px 4px var(--shadow);
    z-index: 1;
}

.header_logo {
    font-family: 'Nunito', sans-serif;
    margin-left: 6.25rem;
    font-size: 1.3rem;
    color: var(--color-white);
    cursor: default;
}

.header_links {
    display: flex;
    margin-right: 6.25rem;
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.header_links a {
    margin-left: 2.188rem;
    color: var(--color-white);
}

.header_item:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.header_item:not(:hover) {
    transition: 0.3s;
}

#home {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15% 0 5% 0;
    position: relative;
}

.home_text h1{
    font-family: 'Baloo 2', cursive;
    font-size: 3rem;
    color: var(--color-dark);
    cursor: default;
}

.home_button {
    padding: 10% 20%;
}

.home_arrow, .home_flower {
    position: absolute;
}

.download_cv_button {
    background-color: var(--color-redStrong);
    border: none;
    color: var(--color-white);
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    border-radius: 3.125rem;
    box-shadow: 4px 3px 4px var(--shadow);
    margin-left: 1rem;
}

.download_cv_button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor:pointer;
}

.download_cv_button:not(:hover) {
    transition: 0.3s;
}

#about {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10% 0;
    position: relative;
}

.about_content {
    width: 30%;
}

.about_content h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 3rem;
    color: var(--color-redStrong);
    cursor: default;
}

.about_content p {
    width: 90%;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 0.938rem;
    margin-bottom: 2.5rem;
    font-family: 'Nunito', sans-serif;
    color: var(--color-dark);
}

.linkedin_button {
    background-color: var(--color-redStrong);
    border: none;
    color: var(--color-white);
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    border-radius: 3.125rem;
    box-shadow: 4px 3px 4px var(--shadow);
}

.linkedin_button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor:pointer;
}

.linkedin_button:not(:hover) {
    transition: 0.3s;
}

.github_button {
    background-color: var(--color-redStrong);
    border: none;
    color: var(--color-white);
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    border-radius: 3.125rem;
    box-shadow: 4px 3px 4px var(--shadow);
    margin-left: 2.5rem;
}

.github_button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor:pointer;
}

.github_button:not(:hover) {
    transition: 0.3s;
}

#projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10% 0 15% 0;
    position: relative;
}

.projects_title {
    font-family: 'Baloo 2', cursive;
    font-size: 3.5rem;
    color: var(--color-redStrong);
    cursor: default;
}

.my_projects {
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: space-around;
    margin: 2.125rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    color: var(--color-dark);
    cursor: text;
}

.project_1, .project_2, .project_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3.125rem;
    width: 20%;
}

.project_1 h1, .project_2 h1, .project_3 h1 {
    padding-bottom: 1.25rem;
    text-align: center;
}

.project_1 p, .project_2 p, .project_3 p {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    font-family: 'Nunito', sans-serif;
    color: var(--color-dark);
}

.project_1 img, .project_2 img, .project_3 img {
    box-shadow: 4px 3px 4px var(--shadow);
}

.project_1 img:hover, .project_2 img:hover, .project_3 img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.3s;
}

.project_1 img:not(:hover), .project_2 img:not(:hover), .project_3 img:not(:hover) {
    transition: 0.3s;
}

#contact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10% 2% 5% 2%;
    position: relative;
}

.contact_header {
    width: 30%;
}

.contact_header h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 3rem;
    color: var(--color-redStrong);
    cursor: default;
}

.contact_header p {
    width: 90%;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 0.938rem;
    margin-bottom: 2.5rem;
    font-family: 'Nunito', sans-serif;
    color: var(--color-dark);
}

.contact_medias button {
    background-color: var(--color-redStrong);
    border: none;
    color: var(--color-white);
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: large;
    border-radius: 3.125rem;
    box-shadow: 4px 3px 4px var(--shadow);
    margin-right: 1rem;
}

.contact_medias button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor:pointer;
    color: var(--color-redStrong);
    background-color: var(--color-whiteStrong);
}

.contact_medias button:not(hover) {
    transition: 0.3s;
}

.home_flower_2 {
    position: absolute;
    left: 30%;
    top: 5%;
}

.home_flower_3 {
    position: absolute;
    left: 60%;
    top: 20%;
    transform: rotate(180deg);
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer_copyright {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 3rem;
    margin-bottom: 0.2rem;
    font-family: 'Nunito', sans-serif;
    color: var(--color-dark);
}

.footer_copyright a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: bold;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
    margin-left: 50px;
}



@media screen and (max-width: 768px) {
    .header {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .header h1 {
        display: flex;
        margin-left: 42px;
        margin-top: 5px;
    }
    .btn_icon_header {
        display: block;
        position: absolute;
        top: 25px;
    }
    #btn_close_header {
        margin-left: 0;
        margin-bottom: 100px;
    }
    .header_links a {
        margin-left: 0;
        margin-top: 30px;
    }
    .header_links {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-header);
        height: 150vh;
        width: 35vw;
        padding: 2em;
        align-items: center;
        text-align: center;
        animation-duration: 1s;
        transition: all ease 1s;
        margin-left: -100vw;
    }
    .char_1 {
        border: 10px solid black;
    }
    section#home {
        flex-wrap: wrap;
        padding-top: 150px;
    }
    section#about {
        flex-wrap: wrap;
    }
    section#projects {
        flex-wrap: wrap;
    }
    section#contact {
        flex-wrap: wrap;
    }

    #about {
        padding-top: 30%;
    }

    .about_content {
        display: flex;
        flex-direction: column;
        width: 90vw;
        text-align: center;
    }
    .about_content p {
        display: flex;
        width: 100%;
    }

    #projects {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 30%;
    }
    .projects h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project_1, .project_2, .project_3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-right: 0;
    }

    .my_projects {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding-top: 20%;
    }
    .contact_header {
        display: flex;
        flex-direction: column;
        width: 90vw;
        text-align: center;
    }

    .contact_header p {
        display: flex;
        width: 100%;
    }


    .contact_medias {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .contact_medias button {
        margin-top: 10px;
    }

    .contact_medias, .contact_header {
        position: relative;
    }

    .home_flower_3 {
        position: absolute;
        left: -100px;
        top: -100px;
    }

    .home_flower_2 {
        position: absolute;
        top: 230px;
        left: 250px;
    }
    .burger_button {
        margin-top: 8px;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: 0vw;}
}

@media screen and (max-width: 768px) and (min-width: 707px) {
    .contact_header {
        position: relative;
    }

    .home_flower_2 {
        position: absolute;
        top: -40px;
        left: 0px;
    }
}

@media screen and (max-width: 707px) and (min-width: 516px) {
    .contact_header {
        position: relative;
    }

    .home_flower_2 {
        position: absolute;
        top: 230px;
        left: 390px;
    }
}

@media screen and (max-width: 516px) and (min-width: 445px) {
    .contact_header {
        position: relative;
    }

    .home_flower_2 {
        position: absolute;
        top: 250px;
        left: 300px;
    }
}

@media screen and (max-width: 980px) and (min-width: 769px) {
    .about_buttons button{
        display: flex;
        margin-right: 0px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .about_buttons i{
        margin-left: 5px;
    }
    .github_button {
        margin: 0;
    }
    .contact_medias button {
        display: flex;
        margin-right: 0px;
        margin-top: 10px;
    }

    .contact_buttons i{
        margin-left: 5px;
    }
}

@media screen and (max-width: 1646px) and (min-width: 981px) {
    .contact_medias button {
        display: flex;
        margin-right: 0px;
        margin-top: 10px;
    }

    .contact_buttons i{
        margin-left: 5px;
    }
}

@media screen and (max-width: 445px) and (min-width: 373px) {
    .contact_header {
        position: relative;
    }

    .home_flower_2 {
        position: absolute;
        top: 250px;
        left: 250px;
    }
}

@media screen and (max-width: 384px) {
    .home_text h1{
        font-size: 45px;
    }
}

@media screen and (max-width: 768px) and (min-width: 250px) {
    .header_logo h1 {
        margin-left: 0px;
        margin-bottom: 8px;
    }
}